@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


a {
    text-decoration: none;
}

@font-face {
    font-family: Robot;
    src: url(fontes/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #89CDA5;
    margin: 0px;

}

header {
    background-image: linear-gradient(to bottom, #5CBE7D, #1A5A37);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
        color: white;
        margin: 0px;
        padding-top: 10px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        color: white;
        text-align: center;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
    }

    nav {
        background-color: #1a5a371e;
        padding-left: 5px;
        padding-top: 20px;
        padding-bottom: 10px;

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.384);
            transition-duration: 0.5s;
        }

        a:hover {
            background-color: rgba(255, 255, 255, 0.39);
            padding: 10px;
            border-radius: 3px;


        }
    }
}

#noticia {
    min-width: 300px;
    max-width: 1000px;
    background: white;
    width: 70vw;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.384);


    h1 {
        font-family: 'robot', Arial, sans-serif;
        font-weight: bolder;
        text-align: center;
        font-size: 2em;
        color: #1A5A37;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.384);
    }

    h2 {
        font-family: 'robot', Arial, sans-serif;
        font-weight: bolder;
        font-size: 24px;
        background-image: linear-gradient(to right, #1a5a3780, #5cbe7d75, transparent);
        border-radius: 10px;
        color: #1A5A37;
        padding-left: 10px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        text-indent: 2em;
        line-height: 2em;
        padding-right: 15px;
        padding-left: 10px;


        strong {
            font-weight: bold;
            color: #1A5A37;
            text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.384);
        }
    }

    a {
        font-weight: bolder;
        color: #1A5A37;
    }

    a:hover {
        background: #1a5a37;
        color: white;
        padding: 1px;

    }

    a::after {
        content: "\00A0\1F517";
    }

    img {
        width: 100%;
    }

    .pequena {
        max-width: 350px;
        display: block;
        margin: auto;
    }

    .video {
        position: relative;
        background-color: #1A5A37;
        padding-bottom: 56.25%;
        margin-top: 25px;
        margin: 0px;

        iframe {
            position: absolute;
            top: 2.5%;
            left: 5%;
            width: 90%;
            height: 95%;
        }
    }
}

#curiosidade {
    background-color: #C5EBD6;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.384);

    h3 {
        border-radius: 5px;
        background-color: #2FA866;
        color: white;
        padding: 10px;
    }

    ul {
        columns: 2;
    }

}

footer{
    background-color: #1a5a37;
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5px;

    a {
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
        color: white;
    }
}